<nav class="bg-base-100 flex justify-between md:hidden h-16">
  <a class="flex items-center pl-4" routerLink="/" routerLinkActive="active">
    <img
      *ngIf="selectedTheme() !== 'dark'; else lightThemeIcon"
      class="w-12 pr-2"
      src="/angular_solidBlack.svg"
      alt="Angular Logo"
    />

    <ng-template #lightThemeIcon>
      <img class="w-12 pr-2" src="/angular.svg" alt="Angular Logo" />
    </ng-template>

    <span> NG-0000 </span>
  </a>

  <button
    class="p-4 focus:outline-none focus:bg-gray-700"
    (click)="toggleNav()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
  </button>
</nav>
